{% extends 'main/layout.html' %}

{% block title %}{{ demon.name_rus }}{% endblock %}

{% block content %}
    <h1>{{ demon.name_rus }} ({{ demon.name_eng }})</h1>
    <p><strong>Здоровье:</strong> {{ demon.health }}</p>
    <p><strong>Интерфейс:</strong> {{ demon.interface }}</p>
    <p><strong>Сетевые действия:</strong> {{ demon.network_actions }}</p>
    <p><strong>Комбатное число:</strong> {{ demon.combat_number }}</p>
    <p><strong>Цена:</strong> {{ demon.price }}</p>
    <p><strong>Описание:</strong> {{ demon.description }}</p>
{% endblock %}
