{% extends 'main/layout.html' %}

{% block title %}{{ implant.name_rus }}{% endblock %}

{% block content %}
    <h1>{{ implant.name_rus }} ({{ implant.name_eng }})</h1>
    <p><strong>Установка:</strong> {{ implant.installation_location }}</p>
    <p><strong>Потеря человечности:</strong> {{ implant.loss_humanity }}</p>
    <p><strong>Оккупирует слоты:</strong> {{ implant.occupies_slots }}</p>
    <p><strong>Требования:</strong> {{ implant.requirements }}</p>
    <p><strong>Описание:</strong> {{ implant.description }}</p>
    <p><strong>Цена:</strong> {{ implant.price }}</p>
{% endblock %}
