{% extends 'main/layout.html' %}

{% block title %}{{ program.name_rus }}{% endblock %}

{% block content %}
    <h1>{{ program.name_rus }} ({{ program.name_eng }})</h1>
    <p><strong>Тип программы:</strong> {{ program.program_type }}</p>
    <p><strong>Класс программы:</strong> {{ program.program_class }}</p>
    <p><strong>Атака:</strong> {{ program.attack }}</p>
    <p><strong>Защита:</strong> {{ program.defense }}</p>
    <p><strong>Цена:</strong> {{ program.price }}</p>
    <p><strong>Эффект:</strong> {{ program.effect }}</p>
    <p><strong>Описание:</strong> {{ program.description }}</p>
{% endblock %}
